<h1 class="wod5e">SPC Factory</h1>

<form class="spc-form wod5e">
    <!-- Name Field -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{name}}" placeholder="Leave empty to auto-generate" />
    </div>

    <!-- Species Selection -->
    <div class="form-group">
        <label>Species</label>
        <div class="form-fields">
            <input type="radio" name="species" id="species-mortal" value="mortal" {{#if (eq species 'mortal')}} checked {{/if}}>
            <label for="species-mortal">Mortal</label>

            <input type="radio" name="species" id="species-vampire" value="vampire" {{#if (eq species 'vampire')}} checked {{/if}}>
            <label for="species-vampire">Vampire</label>

            <input type="radio" name="species" id="species-ghoul" value="ghoul" {{#if (eq species 'ghoul')}} checked {{/if}}>
            <label for="species-ghoul">Ghoul</label>
        </div>
    </div>

    <!-- Region Selection -->
    <div class="form-group">
        <label>Origin Country</label>
        <select name="region" id="region-select">
            {{#each regions}}
            <option value="{{this.value}}" {{#if (eq ../region this.value)}} selected {{/if}}>{{this.label}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Country Selection (dependant on the selected region) -->
    <div class="form-group">
        <label>Country</label>
        <select name="country" id="country-select">
            {{#each countries}}
               <option value="{{this}}" {{#if (eq ../country this)}} selected {{/if}}>{{this}}</option>
            {{/each}}
        </select>
    </div>

    <!-- Clan Selection (for Vampires and Ghouls) -->
    {{#if (or (eq species 'vampire') (eq species 'ghoul'))}}
       <div class="form-group">
        <label>Clan</label>
        <select name="clan">
            {{#each clans}}
               <option value="{{this}}" {{#if (eq ../clan this)}} selected {{/if}}>{{this}}</option>
            {{/each}}
        </select>
       </div>

       <!-- Domitor's Clan Selection (for Ghouls only) -->
       {{#if (eq species 'ghoul')}}
       <div class="form-group">
        <label>Domitor's Clan</label>
        <select name="domitorClan">
            {{#each clans}}
               <option value="{{this}}" {{#if (eq ../domitorClan this)}} selected {{/if}}>{{this}}</option>
            {{/each}}
        </select>
       </div>
       {{/if}}
    {{/if}}

    <!-- Challenge Level Selection -->
    <div class="form-group">
        <label>Challenge Level</label>
        <div class="form-fields">
            <input type="radio" name="challenge" id="challenge-none" value="none" {{#if (eq challenge 'none')}} checked {{/if}}>
            <label for="challenge-none">None</label>

            <input type="radio" name="challenge" id="challenge-minor" value="minor" {{#if (eq challenge 'minor')}} checked {{/if}}>
            <label for="challenge-minor">Minor</label>

            <input type="radio" name="challenge" id="challenge-medium" value="medium" {{#if (eq challenge 'medium')}} checked {{/if}}>
            <label for="challenge-medium">Medium</label>

            <input type="radio" name="challenge" id="challenge-major" value="major" {{#if (eq challenge 'major')}} checked {{/if}}>
            <label for="challenge-major">Major</label>
        </div>
    </div>

    <!-- Submit Button and Loading Spinner -->
    <div class="form-group">
        <button type="submit">Generate SPC</button>
        <div class="spinner" id="loading-spinner" style="display: none;">Loading...</div>
    </div>
</form>